@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: burlywood;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  background: chocolate;
  color: white;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.box:nth-of-type(odd) {
  transform: translateX(-100%);
}

.box:nth-of-type(even) {
  transform: translateX(+100%);
}

.box.show {
  transform: translateX(0);
}
