@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  border: 3px solid var(--line-border-empty);
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.progress-bar {
  background-color: var(--line-border-fill);
  height: 4px;
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  height: 4px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 8px 30px;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.9);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
