* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: salmon;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}
