@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.slide-container {
  position: relative;
  /* width: 100vw;
  height: 100vh; */
}

.left-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  height: 100%;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.right-slide {
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  height: 100%;
}

.right-slide > div {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
