@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 223);
  font-family: "Poppins", sans-serif;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.btn {
  background-color: rebeccapurple;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.8;
}
