@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
}

.container {
  background-color: #fafafa;
  padding: 50px;
  transform-origin: top left;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
}

.circle button {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
  height: 100px;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

/* content */
.content {
  max-width: 800px;
  margin: 50px auto;
}

.content img {
  max-width: 100%;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

/* navivation */
nav {
  position: fixed;
  color: black;
  left: 0;
  bottom: 40px;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
}

nav ul li + li + li {
  margin-left: 30px;
}

/* note important to use + since nav is outside container */
.container.show-nav + nav li {
  transform: translateX(0);
}
