@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.toggle {
  position: fixed;
  top: 100px;
}

.clock-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 200px;
  height: 200px;
  position: relative;
  border: 1px solid gray;
}

.needle {
  width: 3px;
  height: 65px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(10deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(20deg);
  height: 100px;
}

.needle.second {
  background-color: red;
  height: 100px;
  transform: translate(-50%, -100%) rotate(30deg);
}
