@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #efefbb;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  width: 120px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.pokemon .img-container img {
  max-width: 90%;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}
